<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% flash.each do |key, val| -%>
      <%= content_tag :div, val, class: "flash #{key}" %>
    <% end -%>

    <%= yield %>

  </body>
</html>
