div.flash { width: 50%; margin: 0 auto; padding: 7px 10px; background: whiteSmoke; }

#discuss { width: 50%; margin: 0 auto; }

#discuss.mailboxes .summary { display: block; padding: 7px 10px; margin-bottom: 20px; background: whiteSmoke; border-radius: 7px; }
#discuss.mailboxes table { margin-bottom: 20px; }
#discuss.mailboxes table a { text-decoration: none; }
#discuss.mailboxes td { vertical-align: top; }
#discuss.mailboxes .preview a { display: block; }

#discuss .nav { display: inline-block; width: 15%; }
#discuss .nav ul { vertical-align: top; margin: 0; padding: 0; list-style: none; }
#discuss .nav li { margin-bottom: 10px; }

#discuss .messages { display: inline-block; width: 80%; vertical-align: top; }
#discuss .messages td { padding: 7px 21px; }

#discuss div.message { display: inline-block; width: 80%; vertical-align: top; }
#discuss div.message ul.headers { margin: 0; padding: 0; list-style: none; }
#discuss div.message li { margin-bottom: 5px; padding: 5px; border-bottom: 1px solid whiteSmoke; }
#discuss div.message .body { margin: 20px 0; padding: 5px; }
#discuss div.message .move_to_trash { text-align: right; }

#discuss form.message div.input { margin: 10px 0; }
#discuss form.message div.input label { display: block; }
#discuss form.message div.input input,
#discuss form.message div.input select,
#discuss form.message div.input textarea { display: block; width: 100%; padding: 4px; }
#discuss form.message div.input textarea { height: 150px; }
#discuss form.message div.boolean label,
#discuss form.message div.boolean input { display: inline-block; width: auto; margin-right: 10px; }

#discuss input[type=submit] { display: inline-block; font-size: 21px; }
