!!! 5
%html{lang: 'en'}
  %head
    %title Discuss
    = stylesheet_link_tag    "discuss/application", media: "all"
    = javascript_include_tag "discuss/application"
    = csrf_meta_tags

  %body
    = yield
